---
layout: home
---

<!-- Sidebar  -->

<nav id="sidebar" >
  <div class="sidebar-header">
    <h1>Poetic Shelters</h1>
    <p class="tagline">documenting home in COVID-19</p>
  </div>

  <figure class="figure" id="sidebar-logo">
    <img src="assets/imgs/map2.png" class="figure-img img-fluid" alt="Washington map" id="map-logo">
    <figcaption class="figure-caption"><div align="right"><i>click a region to view poems</i></div></figcaption>
  </figure>


  <h2>About the Project</h2>
  <p class="sidebar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo orci, finibus eu hendrerit sit amet, tempor at nisl. Nulla fermentum eros ac purus gravida, eu mattis risus bibendum. Fusce eu dolor gravida, maximus tellus a, mollis nibh. In aliquam tristique metus, et porta massa congue a. Donec blandit elit nec ullamcorper tempus. Fusce suscipit ipsum id odio viverra tristique.
  </p>

  <h2>Acknowledgements</h2>
  <p class="sidebar">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali
  </p>

  <h2>Contributors</h2>

  <p class="sidebar">
  <a href="contributors.html">Click here to view index of poets.</a>
  </p>

</nav>

<!-- Page Content  -->
<div id="content">
  <button type="button" id="sidebarCollapse" class="btn btn-info">
    <i class="fa fa-bars"></i>
  </button>

  <div class="container-fluid">


  </div>

  {% for poem in site.data.poems %}

  {% assign mod = forloop.index | modulo: 4 %}

  {% if mod == 1 %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{{ poem.image }}" class="card-img" alt="Image accompanying {{ poem.title }}">
      </div>
      <div class="col-md-2">
        </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

  {% elsif mod == 2 %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
      <div class="col-md-3">
        <img src="{{ poem.image }}" class="card-img" alt="Image accompanying {{ poem.title }}">
      </div>

    </div>
  </div>
  {% elsif mod == 3 %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{{ poem.image }}" class="card-img" alt="Image accompanying {{ poem.title }}">
      </div>
    </div>
  </div>
  {% else %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-3">
        </div>
      <div class="col-md-3">
        <img src="{{ poem.image }}" class="card-img" alt="Image accompanying {{ poem.title }}">
      </div>
      <div class="col-md-1">
        </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

  {% endif %}


  {% endfor %}


</div>
