---
layout: home
---

<!-- Sidebar  -->

<nav id="sidebar" >
  <div class="sidebar-header">
    <h1><a class="title" href="/">Poetic Shelters</a></h1>
    <p class="tagline">documenting home in COVID-19</p>
  </div>

  <figure class="figure" id="sidebar-logo">
    <img src="assets/imgs/map2.png" class="figure-img img-fluid" alt="Washington map" id="map-logo" usemap="#wamap">

    <map name="wamap">
      <area shape="poly" coords="63,0,155,5,160,27,150,27,145,42,149,53,140,60,145,70,142,82,130,95,134,111,113,105,90,95,74,84,87,67,86,55,78,37,70,40,65,20,75,15,63,0" alt="Northwest" href="northwest.html">
      <area shape="poly" coords="158,5,298,0,300,97,227,99,225,60,215,66,206,80,202,90,188,95,185,100,162,96,148,84,150,75,146,65,151,56,149,39,154,36,161,32,164,18,158,5" alt="Northeast" href="northeast.html">
      <area shape="poly" coords="10,30,46,46,75,40,78,48,82,56,84,67,80,80,68,86,76,94,85,95,93,102,101,110,122,111,132,115,128,127,132,138,128,154,123,167,120,180,124,190,113,193,102,196,94,200,84,193,74,169,64,160,60,165,52,155,29,157,25,121,23,99,17,89,16,78,6,56,,4,48,8,38,10,30" alt="Southwest" href="southwest.html">
      <area shape="poly" coords="300,100,302,150,308,170,230,175,206,177,203,178,188,188,171,190,160,190,154,194,130,190,128,174,130,154,135,147,133,146,130,125,140,106,133,97,142,87,160,100,185,107,195,95,210,88,217,83,223,63,222,106,300,100" alt="Southeast" href="southeast.html">
    </map>

    <figcaption class="figure-caption"><div align="right"><i>click a region, or view <a href="us.html">out-of-state</a> writings</i></div></figcaption>
  </figure>


  <h2>About the Project</h2>
  <p class="sidebar">The COVID-19 pandemic has altered the economy, routines and pace of everyday life across the world. This project asks you to consider the poetics of your home and how its physical and emotional character is changing during this time. The home, whatever that may be for someone, is a space we each know intimately and can therefore represent poetically by sharing our memories, frustrations, daydreams, and also by by describing its physical configuration.
  </p>

  <p class="sidebar">
    This is a project of <a href="https://www.castroluna.com/">Claudia Castro Luna</a>, Washington State Poet Laureate (2018-2021), in collaboration with <a href="http://gwoolston.me/">Gregory Woolston</a> and <a href="http://amritamaz.net/">Amrita Mazumdar</a>. The Poet Laureate program is presented by <a href="https://www.humanities.org/">Humanities Washington</a> and <a href="https://www.arts.wa.gov/">ArtsWA</a>.
  </p>

  <h2>Submissions</h2>
  <p class="sidebar">
Any poems, observations, mini-essays of home are encouraged. A simple image, a counter, window, shoe rack, emblematic of the writing would greatly enhance this effort at documenting our selves and our home spaces during this time. It is my hope that sharing of ourselves in this way will strengthen our bonds across Washington State and beyond.
</p>
<p class="sidebar">
Consider starting with <a href="prompts.html">these writing prompts</a>, and then send your submission to <a href="mailto:poeticshelters@gmail.com">poeticshelters@gmail.com</a>.
  </p>

  <h2>Territory Acknowledgement</h2>
  <p class="sidebar">We acknowledge that this project is placed over the ancestral territories of multiple Indigenous peoples who lived, prospered and continue to thrive on land that is now Washington State. To learn more, please visit <a href="https://native-land.ca/">Native Land Digital</a>, the UW's <a href="https://ais.washington.edu/">Department of American Indian Studies</a>, and <a href="http://www.experiencewa.com/articles/discover-washingtons-american-indian-heritage-sites-and-museums">Experience Washington</a>. </p>

  <h2>Contributing Writers</h2>

  <p class="sidebar">
  <a href="contributors.html">Click here to view index of writers.</a>
  </p>

</nav>

<!-- Page Content  -->
<div id="content">
  <button type="button" id="sidebarCollapse" class="btn btn-info">
    <i class="fa fa-bars"></i>
  </button>

  {% for poem in site.data.poems %}
  {% if poem.filter == "se" %}
  {% assign mod = forloop.index | modulo: 4 %}

  {% if mod == 1 %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-1">
        </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
        <div class="col-md-5">
          <img src="{{ poem.image }}" class="card-img" id="option1" alt="Image accompanying {{ poem.title }}">
        </div>
        <div class="col-md-1">
          </div>
    </div>
  </div>

  {% elsif mod == 2 %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <img src="{{ poem.image }}" class="card-img" id="option2" alt="Image accompanying {{ poem.title }}">
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
    </div>
  </div>

  {% elsif mod == 3 %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
      <div class="col-md-3">
        <img src="{{ poem.image }}" class="card-img" id="option3" alt="Image accompanying {{ poem.title }}">
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>

  {% else %}
  <div class="card mb-3" style="">
    <div class="row no-gutters">
      <div class="col-md-3">
        </div>
      <div class="col-md-3">
        <img src="{{ poem.image }}" class="card-img" id="option4" alt="Image accompanying {{ poem.title }}">
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">{{ poem.title }}</h5>
          <p class="card-text" id="card-author">{{ poem.author }}</p>
          <p class="card-text" id="card-place">{{ poem.place }}</p>
          <p class="card-text" id="card-poem">{{ poem.poem }}</p>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
  {% endif %}


  {% endfor %}
