/*
 * Open Sans
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
}


/*
 * Sidebar
 */

 .wrapper {
     display: flex;
     width: 100%;
 }

 #sidebar {
     width: 300px;
     top: 0;
     left: 0;
     z-index: 999;
     transition: all 0.1s;
     padding: 20px;

 }

 #sidebar.active {
     margin-left: -250px;
 }

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}

h2, h3, h4, h5, h6 {
   font-weight: 600;
 }


 /* ---------------------------------------------------
     CONTENT STYLE
 ----------------------------------------------------- */

 #content {
     width: calc(100% - 250px);
     padding: 40px;
     min-height: 100vh;
     transition: all 0.3s;
     position: absolute;
     top: 0;
     right: 0;
 }

 #content.active {
     width: 100%;
 }
