/*
 * Libre Baskerville
 */

 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*
 * Libre Franklin
 */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Libre Franklin', sans-serif;
}


/*
 * Sidebar
 */

 .wrapper {
     display: flex;
     width: 100%;
 }

#sidebar-logo{
  margin-top: 10px;
}

 #sidebar {
     width: 300px;
     top: 0;
     left: 0;
     z-index: 999;
     transition: all 0.1s;
     padding: 20px;
     background-color: #E0E0E0;
     height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
}

 .btn-info{
   border-color:  #000;
   background-color: #000;
   color: #fff;
 }

 .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle{
   background-color: #000;
   border-color:  #000;
}

 .btn-info:hover {
   background-color: #000;
   color: #fff;
   border: 2px solid #000;
}

 button#sidebarCollapse.active{
   margin-left: -50px;
   margin-top: -25px;
   background-color: #000;
   color: #fff;
}

button#sidebarCollapse{
      margin-left: -70px;
      margin-top: -25px;
      position: fixed;
      z-index: 1000;}

 #sidebar.active {
     margin-left: -300px;
 }

h1 {
  font-weight: 900;
  letter-spacing: .05em;
  font-size: 24px;
}

p.tagline {
  font-size: 14px;
  letter-spacing: .01em;
  font-style: italic;
  margin-top: -5pt;
}

h2 {
  font-weight: 700;
  letter-spacing: .03em;
  font-size: 16px;
}

p.sidebar {
  font-size: 14px;
  letter-spacing: .01em;
  line-height: 140%;
}

p.par {
  font-size: 14px;
  letter-spacing: .01em;
  line-height: 140%;
}

figcaption.figure-caption {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}

h3, h4, h5, h6 {
   font-weight: 600;
 }

 /*
  * Content Div
  */

 #content {
     width: calc(100% - 300px);
     padding: 40px;
     min-height: 100vh;
     transition: all 0.3s;
     position: absolute;
     top: 0;
     right: 0;
 }

 #content.active {
     width: calc(100% - 20px);
 }

 a {
     color: #0645AD;
     text-decoration: none;
 }

 a:hover
 {
      color:#0645AD;
      text-decoration:underline;
 }

 a.title {
     color: #000;
     text-decoration: none;
 }

 a.title:hover
 {
      color:#000;
 }


  /*
   * Explanations
   */


li {
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: .01em;
  line-height: 140%;
}

.blockquote {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: .02em;
    line-height: 160%;
    margin-left: 25px;
    border-left: 3px solid #E0E0E0;
    padding-left: 10px;
    font-size: 12px;
}

 /*
  * Poem Cards
  */

.card {
  margin-bottom: 20px;
  border: none;
}


.card-body {
  font-size: 12px;
}

.card-body p{
  margin-bottom: 0;
}

h5.card-title{
  font-weight: 700;
  letter-spacing: .03em;
  font-size: 16px;
}

p.card-text#card-author{
  font-size: 14px;
  letter-spacing: .01em;
  margin-top: -10px;
}

p.card-text#card-place{
  font-size: 14px;
  letter-spacing: .01em;
  font-style: italic;
  margin-bottom: 20px;
}

p.card-text#card-poem{
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .02em;
  line-height: 160%;
}

.card-img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
