/*
 * Open Sans
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
}


/*
 * Sidebar
 */

 .wrapper {
     display: flex;
     width: 100%;
 }

#sidebar-logo{
  margin-top: 20px;
}

 #sidebar {
     width: 300px;
     top: 0;
     left: 0;
     z-index: 999;
     transition: all 0.1s;
     padding: 20px;
     background-color: #ddd;
     height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
}

 .btn-info{
   background-color:  #ddd;
   border-color: #ddd;
   color: #000;
 }

 button#sidebarCollapse{
   margin-left: -50px;
 }

 #sidebar.active {
     margin-left: -300px;
 }

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}

h2, h3, h4, h5, h6 {
   font-weight: 600;
 }


 /*
  * Content Div
  */

 #content {
     width: calc(100% - 300px);
     padding: 40px;
     min-height: 100vh;
     transition: all 0.3s;
     position: absolute;
     top: 0;
     right: 0;
 }

 #content.active {
     width: calc(100% - 20px);
 }


 /*
  * Poem Cards
  */

.card {
  margin-bottom: 20px;
  border: none;
}


/* .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} */

.card-body {
  font-size: 12px;
}

.card-body p{
  margin-bottom: 0;
}

h5.card-title{

}

p.card-text{

}

p.card-text#card-poem{
  
}
